@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500,700&display=swap');

.rect-clip {
    clip-path: polygon(0 0, 100% 54%, 100% 100%, 0% 100%);
}

.make-first { order: -9999; }

.make-last { order: 9999; }